footer{
    margin-top: 80px;
    background-color: #1e1e1e;
    color: white;
}
footer .wrap{
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 60px;
}
footer .wrap .uno{
    grid-column: 1;
    grid-row: 1;
}
footer .wrap .uno h2{
    margin-bottom: 30px;
}
footer .wrap .uno h2 a{
    font-size: 0;
    width: 121px;
    height: 20px;
    display: block;
    background-image: url(../img/logo-kakao-footer.png);
    background-size: contain;
}
footer .wrap .uno p{
    color: #999999;
}
footer .wrap .uno p br{
    
}
footer .wrap .uno a.last{
    background-color: #ffc600;
    display: flex;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 15px;
}
footer .wrap .dos{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
}
footer .wrap .dos .dos1{
    
}
footer .wrap .dos .dos1 h2{
    margin-bottom: 30px;
}
footer .wrap .dos .dos1 ul{
    
}
footer .wrap .dos .dos1 ul li{
    
}
footer .wrap .dos .dos1 ul li a{
    color: white;
}
footer .wrap .dos .dos2{
    
}
footer .wrap .dos .dos2 h2{
    margin-bottom: 30px;
}
footer .wrap .dos .dos2 ul{
    
}
footer .wrap .dos .dos2 ul li{

}
footer .wrap .dos .dos2 ul li a{
    color: white;
}
footer .wrap .thress{
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-content: space-between;
}
footer .wrap .thress p{
    
}
footer .wrap .thress ul{
    display: flex;
}
footer .wrap .thress ul li{
    
}
footer .wrap .thress ul li a{
    font-size: 0;
    width: 24px;
    height: 24px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}
footer .wrap .thress ul li:nth-child(1) a{
    background-image: url(../img/linkedin.svg);
}
footer .wrap .thress ul li:nth-child(2) a{
    background-image: url(../img/youtube.svg);
}
footer .wrap .thress ul li:nth-child(3) a{
    background-image: url(../img/github.svg);
}
footer .wrap .thress ul li:nth-child(4) a{
    background-image: url(../img/facebook.svg);
}