nav{
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
nav div{

}
nav div h2{
    
}
nav div h2 a{    
  font-size: 0;
}
nav div h2 a::before{
  content: "";
  background-image: url(../img/logo-kakao.png);
  width: 88px;
  display: block;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 15px;
}
nav div p{
    
}
nav div p a{   
  font-size: 0;
}
nav div p a::before{
  content: "";
  background-image: url(../img/logo-blog01.png);
  display: block;
  width: 68px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: contain;
}
nav ul{

}
nav ul li{
    
}
nav ul li a{
    
}
nav ul li:nth-child(4){
    
}
nav ul li:nth-child(4) a{
    font-size: 0;
}
nav ul li:nth-child(4) a::before{
content: "";
background-image: url(../img/icon-search.png);
display: block;
width: 18px;
height: 18px;
background-repeat: no-repeat;
background-size: contain;
}