.title{

}
.title .uno{

}
.title .uno div{
    width: 770px;
    height: 470px;
    position: relative;
    z-index: 1;
}
.title .uno div::before{
    content: "";
    background-image: url(../img/number1.jpg);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    z-index: -1;
}
.title .uno div a{
    width: 100%;
}
.title .uno div a p{
    position: absolute;
    bottom: 45px;
    right: 30px;
    color: white;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.title .uno div a p span{
    display: block;
}
.title .dos{
    height: 470px;
    width: calc(100% - 770px);
    position: relative;
}
.title .dos::before{
    content: "";
    background-image: url(../img/dosnumber1.png);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    z-index: -1;
}
.title .dos a{
    width: 100%;
    display: block;
}
.title .dos a p{
    position: absolute;
    bottom: 45px;
    right: 30px;
    color: white;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: end;
}